<%- include('../partials/header') %>

    <div class='post-container'>
        <div class='post-left-section'>
            <div class='game-frame'> 
                <iframe src="<%= games.gameUrl %>" width=600 height=397 frameborder=0></iframe>
            </div>
        </div>
        <div class='post-right-section'>
            <div class='post-title'>
                <h1><%= games.gameTitle %><a href="/games/<%= games._id %>"></a></h1>
            </div>
            <div class='post-text'>
                <p><%= games.gameText %> </p>
            </div>
            <div class='post-controls'>
                <a class='delete-link-btn'>Delete</a>
            </div>
        </div>
    </div>
    <div class='game-comments'>
        <% if (req.user) { %>
            <form id="add-comment-to-game" method="POST" action="/games/<%=games._id%>/comments">
                <label>Add Comment:</label>
                <textarea name="commentText"></textarea>
                <input type="submit" value="Add Comment">
            </form>
        <% } %>
        <div id='comments-container'>
            <h2>Comments</h2>
                <% games.comments.forEach(function(c, index) { %>
                    <div class='comment'>
                        <a class='edit-comment-btn' data-gameId='<%= games._id %>' data-commentIndex='<%= index %>'> <%= c.commentText %> </a>
                    </div>
                <% }) %> 
        </div>
    </div>

    <script>
        function editComment(gameId, commentId) {
            const result = fetch(`/games/${gameId}/comments/${commentId}/commentText/${JSON.stringify({newCommentText: 'Updated comment text'})}`, {
                method: 'PUT',
                credentials: 'include'
            });
        }
        const editButtons = document.getElementsByClassName('edit-comment-btn');
        for(const editButton of editButtons) {
            editButton.addEventListener('click', (evt) => {
                const {gameid, commentindex} = evt.target.dataset;
                editComment(gameid, commentindex);
            });
        }
    </script>

<%- include('../partials/footer') %>